.header img {
  float: left;
  width: 300px;
  height: 80px;
}

.flex-container {
  display: flex;
  padding-left: 50px;
  height: 120px;
  border-bottom: 1px solid #f0f0f0;
}

.flex-container > .link {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.flex-container > .score {
  margin-left: 200px;
}

.bold {
  font-weight: bolder;
}